In [46]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules

In [47]:
df=pd.read_csv('deneme.csv', sep=',', names=['products'],header=None)
df.head()

                  products
0            Sut, Cay, Kek
1       Yumarta, Cay, Kola
2  Sut, Yumurta, Cay, Kola
3            Yumurta, Kola
4               Meyve Suyu

In [48]:
df.shape

(5, 1)

In [49]:
df.values

array([['Sut, Cay, Kek'],
       ['Yumarta, Cay, Kola'],
       ['Sut, Yumurta, Cay, Kola'],
       ['Yumurta, Kola'],
       ['Meyve Suyu']], dtype=object)

In [50]:
items = (df['products'].unique())
items

array(['Sut, Cay, Kek', 'Yumarta, Cay, Kola', 'Sut, Yumurta, Cay, Kola',
       'Yumurta, Kola', 'Meyve Suyu'], dtype=object)

In [51]:
data = list(df["products"].apply(lambda x:x.split(',')))
data

[['Sut', ' Cay', ' Kek'],
 ['Yumarta', ' Cay', ' Kola'],
 ['Sut', ' Yumurta', ' Cay', ' Kola'],
 ['Yumurta', ' Kola'],
 ['Meyve Suyu']]

In [57]:
data=pd.DataFrame(data)
data

            0         1      2      3
0         Sut       Cay    Kek   None
1     Yumarta       Cay   Kola   None
2         Sut   Yumurta    Cay   Kola
3     Yumurta      Kola   None   None
4  Meyve Suyu      None   None   None

In [52]:
from mlxtend.preprocessing import TransactionEncoder

In [53]:
te = TransactionEncoder()
te_data = te.fit(data).transform(data)
df = pd.DataFrame(te_data,columns=te.columns_)
df

     Cay    Kek   Kola   Yumurta  Meyve Suyu    Sut  Yumarta  Yumurta
0   True   True  False     False       False   True    False    False
1   True  False   True     False       False  False     True    False
2   True  False   True      True       False   True    False    False
3  False  False   True     False       False  False    False     True
4  False  False  False     False        True  False    False    False

In [54]:
from mlxtend.frequent_patterns import apriori

In [55]:
df1 = apriori(df,min_support=0.2, use_colnames=True, verbose=1)
df1

Processing 24 combinations | Sampling itemset size 4

    support                      itemsets
0       0.6                        ( Cay)
1       0.2                        ( Kek)
2       0.6                       ( Kola)
3       0.2                    ( Yumurta)
4       0.2                  (Meyve Suyu)
5       0.4                         (Sut)
6       0.2                     (Yumarta)
7       0.2                     (Yumurta)
8       0.2                  ( Cay,  Kek)
9       0.4                 ( Kola,  Cay)
10      0.2              ( Cay,  Yumurta)
11      0.4                   (Sut,  Cay)
12      0.2               (Yumarta,  Cay)
13      0.2                   (Sut,  Kek)
14      0.2             ( Kola,  Yumurta)
15      0.2                  ( Kola, Sut)
16      0.2              ( Kola, Yumarta)
17      0.2              ( Kola, Yumurta)
18      0.2               (Sut,  Yumurta)
19      0.2             (Sut,  Cay,  Kek)
20      0.2       ( Kola,  Cay,  Yumurta)
21      0.2            ( Kola,  Cay, Sut)
22      0.2        ( Kola,  Cay, Yumarta)
23      0.2         (Sut,  Cay,  Yumurta)
24      0.2        ( Kola, Sut,  Yumurta)
25      0.2  ( Kola,  Cay,  Yumurta, Sut)

In [56]:
association_rules(df1, metric = "confidence", min_threshold = 0.6)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,( Kek),( Cay),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
1,( Kola),( Cay),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
2,( Cay),( Kola),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
3,( Yumurta),( Cay),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
4,(Sut),( Cay),0.4,0.6,0.4,1.000000,1.666667,0.16,inf
5,( Cay),(Sut),0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
6,(Yumarta),( Cay),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
7,( Kek),(Sut),0.2,0.4,0.2,1.000000,2.500000,0.12,inf
8,( Yumurta),( Kola),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
9,(Yumarta),( Kola),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
10,(Yumurta),( Kola),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
11,( Yumurta),(Sut),0.2,0.4,0.2,1.000000,2.500000,0.12,inf
12,"(Sut, Kek)",( Cay),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
13,"( Cay, Kek)",(Sut),0.2,0.4,0.2,1.000000,2.500000,0.12,inf
14,( Kek),"(Sut, Cay)",0.2,0.4,0.2,1.000000,2.500000,0.12,inf
15,"( Kola, Yumurta)",( Cay),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
16,"( Cay, Yumurta)",( Kola),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
17,( Yumurta),"( Kola, Cay)",0.2,0.4,0.2,1.000000,2.500000,0.12,inf
18,"( Kola, Sut)",( Cay),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
19,"( Kola, Yumarta)",( Cay),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
20,"(Yumarta, Cay)",( Kola),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
21,(Yumarta),"( Kola, Cay)",0.2,0.4,0.2,1.000000,2.500000,0.12,inf
22,"(Sut, Yumurta)",( Cay),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
23,"( Cay, Yumurta)",(Sut),0.2,0.4,0.2,1.000000,2.500000,0.12,inf
24,( Yumurta),"(Sut, Cay)",0.2,0.4,0.2,1.000000,2.500000,0.12,inf
25,"( Kola, Sut)",( Yumurta),0.2,0.2,0.2,1.000000,5.000000,0.16,inf
26,"( Kola, Yumurta)",(Sut),0.2,0.4,0.2,1.000000,2.500000,0.12,inf
27,"(Sut, Yumurta)",( Kola),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
28,( Yumurta),"( Kola, Sut)",0.2,0.2,0.2,1.000000,5.000000,0.16,inf
29,"( Kola, Cay, Yumurta)",(Sut),0.2,0.4,0.2,1.000000,2.500000,0.12,inf
30,"( Kola, Cay, Sut)",( Yumurta),0.2,0.2,0.2,1.000000,5.000000,0.16,inf
31,"( Kola, Sut, Yumurta)",( Cay),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
32,"(Sut, Cay, Yumurta)",( Kola),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
33,"( Kola, Yumurta)","(Sut, Cay)",0.2,0.4,0.2,1.000000,2.500000,0.12,inf
34,"( Kola, Sut)","( Cay, Yumurta)",0.2,0.2,0.2,1.000000,5.000000,0.16,inf
35,"( Cay, Yumurta)","( Kola, Sut)",0.2,0.2,0.2,1.000000,5.000000,0.16,inf
36,"(Sut, Yumurta)","( Kola, Cay)",0.2,0.4,0.2,1.000000,2.500000,0.12,inf
37,( Yumurta),"( Kola, Cay, Sut)",0.2,0.2,0.2,1.000000,5.000000,0.16,inf

In [ ]:
#Yumurta ve çay tüm alışverişlerin yüzde 40'ında birlikte gözlenmektedir
#Yumurta alan müşterilerin yüzde 67'si çay da almaktadır.
#Yumurta olan alışverişlerde çay ürününün satışı 1,11 kat artmaktadır